* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

/* The title related styles */
.title {
    display: flex;
    justify-content: space-between;
    padding: 4em 0em 1em 3em;
}

.title > h2 {
    font-size: 3em;
    width: 100%;
}

.title  h3 {
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    font-size: 1.5em;
}



.title-desc {
    font-size: 1.5em;
    width: 80%;
}
/* The title related styles ends */


/* The layout related styles */
img {
    width: 100%;
}

.img-box {
    width: 23%;
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    display: flex;
    align-items: flex-start;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.margin-top-img {
    margin-top: 10em;
}

.rotate-text {
    font-size: 16px;
    /* transform: rotate(90deg); */
    /* margin-top: 1em; */
    /* width: 100%; */
    margin-left: 0.3em;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-weight: 400;
}
/* layout related styles ends */


/* footer section related styles */
footer {
    margin-top: 5em;
    text-align: center;
    padding: 1em;
    color: #A9A9A9;
}

.bold {
    font-weight: 700;
}


/* Responsive Media query */

/* For mobile */
@media screen and (max-width: 576px) {
    .title {
        flex-direction: column;
        padding: 1em 1em 0em 1em;
    }

    .img-container {
        flex-direction: column;
        /* gap: 1em; */
        /* margin-top: 1em; */
        padding: 1em;
    }

    .title > h2 {
        font-size: 8vw;
        margin-bottom: 0.5em;
    }

    .title-desc {
        margin-top: 0.5em;
    }

    .img-box {
        width: auto;
    }

    .img-box h3 {
        font-size: 0.6em;
    }

    .margin-top-img {
        margin-top: 0;
    }

    .main-container {
        display: flex;
        padding: 0em 1em;
    }

    .rotate-text {
        font-size: 0.6em;
    }

    .bottom-container {
        margin-top: 8em;
    }
    
    footer {
        margin-top: 2em;
    }
}